/* You can add global styles to this file, and also import other style files */
body {
  overflow: auto;
}

/* Override ng-input component styles */
.ng-placeholder {
  font-size: 1rem !important;
}
.ng-select.ng-select-single .ng-select-container .ng-value-container,
.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
  white-space: normal !important;
}

/* Override bootstrap pagination component styles */
.pagination {
  margin-bottom: 0 !important;
}

tree-internal .tree .node-selected:after {
  width: 0% !important;
}

tree-internal .tree .node-value:hover:after {
  width: 0% !important;
}

.node-checkbox {
  margin: 0px 2px 0px 5px;
}
.node-template {
  margin: 0px 5px 0px 5px;
}

.node-template .fa {
  color: #e8a119;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 100px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 100px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 100px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 100px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

/* Override bootstrap toast component styles */
.ngb-toasts {
  left: 50% ;
  right: auto !important;
  top: auto !important;
  transform: translateX(-50%);
  height: 48px;
}

.cursor-pointer {
  cursor: pointer;
}

.carousel-indicators li {
  width: 40px !important;
  height: 10px !important;
  border-radius: 5px !important;
}

.carousel-indicators .active {
  background-color: #ff0079;
}