.movie-fixed-navbar {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 999;
  background: #fff;
  background-color: transparent !important;
  color: #fff;
}

.image {
  background-color: #490d40;
  background: url(https://sonorangirl.github.io/Earth-Quotes/img/google-earth-view-South-Iceland3.jpg) no-repeat center center;
  background-size: cover;
  height: 570px;
  margin-top: -20px;

  .heading {
    color: white;
    text-align: center;
    padding-top: 200px;
  }

  p {
    text-align: center;
    padding: 20px 60px;

    .btn {
      background-color: transparent;
      color: white;
      border: 1px solid white;
      padding: 10px;
      font-size: 1.2em;

      &:hover {
        color: #c57ed3;
        border-color: #c57ed3;
      }
    }
  }
}

.navbar {
  height: 80px;
  background-color: transparent;
  border: none;
  color: white;
  z-index: 100;
  transition: background-color 1s ease 0s;
}

/* Solid class attached on scroll past first section */

.navbar.solid {
  background-color: #000000 !important;
  transition: background-color 1s ease 0s;
  box-shadow: 0 0 4px grey;
  border-bottom: 8px solid #ff0079;
  color: black;
}