<div>
  <nav id="header" class="navbar bg-dark navbar-dark navbar-expand-sm app-navbar movie-fixed-navbar">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']" (click)="collapseNavbar()">
        <span class="navbar-title ml-2">THEMOVIEBOX</span>
      </a>
      <a
        class="navbar-toggler d-lg-none"
        href="javascript:void(0);"
        data-toggle="collapse"
        data-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="toggleNavbar()"
      >
        <fa-icon icon="bars"></fa-icon>
      </a>
      <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <button type="button" class="btn btn-link text-white">
              <fa-icon icon="search"></fa-icon>
            </button>
          </li>
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" *ngSwitchCase="true">
            <a class="bc-nav-link nav-link text-white" [routerLink]="['/movie-management']" (click)="collapseNavbar()">
              <span>
                <fa-icon icon="home"></fa-icon>
                <span class="ml-1">Administrator</span>
              </span>
            </a>
          </li>
          <li ngbDropdown class="nav-item" *ngSwitchCase="true">
            <a class="nav-link dropdown-toggle text-white" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
              <span>
                <fa-icon icon="user"></fa-icon>
                <span class="ml-1">Ho MinhChung</span>
              </span>
            </a>
            <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
              <li>
                <a class="dropdown-item" (click)="isAuthenticated = false" id="logout">
                  <span>Sign out</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item" *ngSwitchCase="false">
            <button type="button" class="btn btn-link text-white" (click)="isAuthenticated = true">Login</button>
            <button type="button" class="btn btn-primary" (click)="isAuthenticated = true">Sign Up</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
