<div>
  Rating <span class="text-secondary">based on <b>{{ reviews }}</b> reviews</span>
</div>
<div class="d-flex align-items-center">
  <ng-template #t let-fill="fill">
    <span class="star" [class.text-primary]="fill === 100">
      <span class="half text-primary" [style.width.%]="fill">&#9733;</span>&#9733;
    </span>
  </ng-template>
  <ngb-rating [(rate)]="currentRate" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
  <span class="ml-2 border px-1 vote-average font-weight-bold">
      {{ currentRate }}
  </span>
</div>
