.star {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  color: #d3d3d3;
}
.vote-average {
  color: darkgrey; 
  border-color: darkgrey !important
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
}