<div class="background-color">
  <div class="container position-footer py-4">
    <div class="d-flex flex-sm-row flex-column border-bottom py-2 justify-content-between align-items-center">
      <div class="mb-2 mr-2">
        <img src="https://livedemo00.template-help.com/wt_prod-20691/images/logo-default.png">
      </div>
      <div class="d-flex justify-content-end">
        <span class="mr-5">About</span>
        <span class="mr-5">Movies</span>
        <span class="mr-5">Ratings</span>
        <span>Contact</span>
      </div>
      
    </div>
    <div class="d-flex flex-row justify-content-between mt-1 align-items-center">
      <h6 class="mb-0 text-muted">Designed by Milan Houter. All rights reserved</h6>
      <div class="d-flex justify-content-end">
        <img src="/assets/images/fa-icon.png" style="height: 36px; width: 36px" />
        <img src="/assets/images/pin-icon.png" style="height: 36px; width: 36px" />
        <img src="/assets/images/tw-icon.png" style="height: 36px; width: 36px" />
        <img src="/assets/images/in-icon.png" style="height: 36px; width: 36px" />
      </div>
    </div>
  </div>
</div>
