<div>
  <div class="container position-footer mb-4">
    <div class="d-flex flex-column flex-md-row border-bottom py-3 justify-content-between align-items-center">
      <h1 class="mb-0">THEMOVIEBOX</h1>
      <div class="d-flex justify-content-between justify-content-md-end">
        <span class="mx-2">About</span>
        <span class="mx-2">Movies</span>
        <span class="mx-2">Ratings</span>
        <span class="mx-2">Contact</span>
      </div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between mt-3 align-items-center">
      <h6 class="mb-0 text-muted text-center my-3 text-md-left">Designed by Milan Houter (Code Implemented by Ho MinhChung). All rights reserved</h6>
      <div class="d-flex justify-content-end">
        <img src="/assets/images/fa-icon.png" style="height: 36px; width: 36px" class="mr-2" />
        <img src="/assets/images/pin-icon.png" style="height: 36px; width: 36px" class="mr-2" />
        <img src="/assets/images/tw-icon.png" style="height: 36px; width: 36px" class="mr-2" />
        <img src="/assets/images/in-icon.png" style="height: 36px; width: 36px" class="mr-2" />
      </div>
    </div>
  </div>
</div>
