<div class="bg-light">
  <app-header></app-header>
  <app-carousel [movies]="carouselMovies"></app-carousel>
  <div class="container">
    <app-tabset (changedTab)="onChangedTab($event)"></app-tabset>
    <div
      class="mb-5"
      class="search-results"
      infinite-scroll
      (scrolled)="loadPage(page + 1)"
      [infiniteScrollDisabled]="page >= 3"
      [infiniteScrollDistance]="0"
    >
      <app-movie-grid [movies]="movies"></app-movie-grid>
      <div class="mb-5">
        <app-pagination class="d-flex justify-content-center"></app-pagination>
      </div>
    </div>
  </div>
  <div>
    <section
      class="section section-inset-1 bg-gray-900"
      style="
      height: 400px;"
    >
      <div class="container">
        <h1 class="text-center text-white mt-4">Coming Soon</h1>
      </div>
    </section>
  </div>
  <a href="#" id="ui-to-top" class="ui-to-top fa fa-chevron-up active">TOP</a>
</div>
