ul {
  list-style-type: none;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  border-bottom: 4px solid #ff0079;
  color: #ff0079 !important;
}

.active {
  border-bottom: 4px solid #ff0079;
  color: #ff0079 !important;
}